header {
  height: 320px;
  background-color: white;
}
.container {
  width: 1188px;
  margin: 0 auto;
}
.logo {
  margin-bottom: 10px;
  height: 50px;
  padding-top: 10px;
}
.line {
  border: lightgray 1px solid;
}
header .restaurant {
  display: flex;
  margin-top: 20px;
}
.restaurant p {
  width: 70%;
  color: gray;
  font-size: 20px;
}
header .restaurant img {
  height: 200px;
  border-radius: 5px;
}
